In [1]:
import numpy as np
import pandas as pd

In [2]:
from numpy.random import randn

In [4]:
np.random.seed(101)

In [6]:
df = pd.DataFrame(randn(5,4),["A","B","C","D","E"],["w","x","y","z"])

In [7]:
df

          w         x         y         z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [9]:
df[["w", "z"]]

          w         z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [10]:
# for adding new column

In [11]:
df["Q"] = df["w"] + df["z"]

In [12]:
df

          w         x         y         z         Q
A  2.706850  0.628133  0.907969  0.503826  3.210676
B  0.651118 -0.319318 -0.848077  0.605965  1.257083
C -2.018168  0.740122  0.528813 -0.589001 -2.607169
D  0.188695 -0.758872 -0.933237  0.955057  1.143752
E  0.190794  1.978757  2.605967  0.683509  0.874303

In [13]:
# for removing column

In [15]:
df.drop("Q", axis = 1)

          w         x         y         z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [18]:
df.drop("E", axis=0)

          w         x         y         z         Q
A  2.706850  0.628133  0.907969  0.503826  3.210676
B  0.651118 -0.319318 -0.848077  0.605965  1.257083
C -2.018168  0.740122  0.528813 -0.589001 -2.607169
D  0.188695 -0.758872 -0.933237  0.955057  1.143752

In [20]:
# Methods for selecting data frame
# 1)

In [21]:
df.loc["B"]

w    0.651118
x   -0.319318
y   -0.848077
z    0.605965
Q    1.257083
Name: B, dtype: float64

In [22]:
# 2)

In [26]:
df.iloc[1]

w    0.651118
x   -0.319318
y   -0.848077
z    0.605965
Q    1.257083
Name: B, dtype: float64

In [27]:
# for subset

In [31]:
df.loc['B','y']

-0.8480769834036315

In [2]:
# operators in oandas