In [1]:
import numpy as np
import pandas as pd

In [2]:
from numpy.random import randn

In [3]:
np.random.seed(101)

In [4]:
df = pd.DataFrame(randn(5,4),["A","B","C","D","E"],["w","x","y","z"])

In [5]:
df

          w         x         y         z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [8]:
# operators

In [9]:
df >0

       w      x      y      z
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
D   True  False  False   True
E   True   True   True   True

In [11]:
df[df["w"]<0]

          w         x         y         z
C -2.018168  0.740122  0.528813 -0.589001

In [13]:
bool = df["w"]>0

In [14]:
bool

A     True
B     True
C    False
D     True
E     True
Name: w, dtype: bool

In [17]:
# let us use two or more condition/

In [22]:
df[(df["w"]>0) & (df["y"]>1)]

          w         x         y         z
E  0.190794  1.978757  2.605967  0.683509

In [23]:
df[(df["w"]>0) | (df["y"]>1)]

          w         x         y         z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [25]:
df.reset_index()

  index         w         x         y         z
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001
3     D  0.188695 -0.758872 -0.933237  0.955057
4     E  0.190794  1.978757  2.605967  0.683509

In [26]:
newind = "MH RJ TN WB UT".split()

In [27]:
newind

['MH', 'RJ', 'TN', 'WB', 'UT']

In [28]:
df["states"] = newind

In [29]:
df

          w         x         y         z states
A  2.706850  0.628133  0.907969  0.503826     MH
B  0.651118 -0.319318 -0.848077  0.605965     RJ
C -2.018168  0.740122  0.528813 -0.589001     TN
D  0.188695 -0.758872 -0.933237  0.955057     WB
E  0.190794  1.978757  2.605967  0.683509     UT